<div class = "login-box">
    <h2> SIGN UP TO ACCESS YOUR ACCOUNT</h2>
</div>

<div class="input-group">
    <label>Email</label>
    <input type="text" #emailInput placeholder="Enter your email">
</div>

<div class="input-group">
    <label>Password</label>
    <input type="password" #passwordInput placeholder="Enter your password">
</div>

<a class="forgot-link" href="#">Forgot Password?</a>
<!-- <app-forgotpassword></app-forgotpassword>   -->
<!-- <a class="forgot-link" (click)="switchToForgot()">Forgot Password?</a>   -->



<!-- <button class="login-btn" onclick="login(emailInput.value, passwordInput.value)">LOGIN</button> -->
<button
  class="login-btn"
  (click)="login(emailInput.value, passwordInput.value)">
  LOGIN
</button>