<div class="home-container">

  <h1>Your Projects</h1>
  <app-logout-button></app-logout-button>

  @if (isLoading) {
    <div>Loading projects...</div>

  } @else if (projects.length > 0) {

    <div class="team-list">
        @for (project of projects; track project.id_project) {
            <app-team-list-item [project]="project"></app-team-list-item>
        }
    </div>

  } @else {
    <p>You are not a member of any project yet.</p>
  }

  @if (showAddProject) {
    <app-add-project-form
        [userID]="userID"
        (close)="closeAddProject()"
        (created)="onProjectCreated()">
    </app-add-project-form>
  } @else {
    <button (click)="openAddProject()">AddProject</button>
  }

</div>