<!-- current change: -->
<app-welcome></app-welcome>

<!-- Updated version: -->
<div class="welcome">
    <div class = "left-section">
        <h1> {{title}} </h1>
        <p>{{description}} </p>
    
      <app-register-section></app-register-section>
   
    </div>
    
    
    <div class = "right-section">
      <app-login-section></app-login-section>
            
    </div>


<!-- <app-login  -->
  <!-- *ngIf="currentView === 'login'" -->
  <!-- (changeView)="setView($event)"> -->
<!-- </app-login> -->

 <!-- <app-register 
  *ngIf="currentView === 'register'"
  (changeView)="setView($event)">
</app-register> -->

<!-- <app-forgotpassword 
  *ngIf="currentView === 'Forgot Password?'"
  (changeView)="setView($event)">
</app-forgotpassword> -->

<!-- <app-forgotpassword></app-forgotpassword> -->
</div>