/* BLOC LOGIN */
.login-box {
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}


.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #bbb;
}

.forgot-link {
  display: block;
  margin-top: 8px;
  color: #4c0a9c;
  font-size: 14px;
}

.login-btn {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  border: none;
  background: #4c0a9c;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}