#app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 20px;
  border-bottom: 1px solid #e5e7eb;
  background: #4c4c4c;
  margin: 0;
  padding: 0;
}

#app-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}