.register-box {
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 8px;
}

.register-box h2 {
  margin-bottom: 15px;
}


.register-box li {
  margin-bottom: 8px;
}

.register-btn {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  border: none;
  background: #eeeeef;
  color: #4c0a9c;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}